body {
    background-color: $main;
}

.app {
    text-align: center;
    background: $main;
}

.menu {
    margin-bottom: 75px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: $alt;
    border: none;
    margin: 10px;
    font-size: 20px;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $text;
        color: $main;
        cursor: pointer;
    }
}

.btn_garage {
    color: $active;
}

.btn_winners {
    color: $alt-active;
}

@import './garage/garage.scss';
@import './winners/winners.scss';

