.winners__title {
    font-size: 30px;
}

.winners__table {
    margin: 10px auto;
}

.winners__item {
    .car {
        margin: 0;
    }
}

td, th {
    border: 1px solid $text;
    padding: 5px 20px;
    font-size: 16px;
}