form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_garage-menu {
    height: 30px;
    min-width: 70px;
    background-color: $alt;
    font-weight: 700;

    color: $text;
    font-size: 16px;
    padding: 5px;

    margin: 0 10px;

    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        color: $main;
        cursor: pointer;
    }
}

.garage__input {
    background-color: $alt;
    color: $text;

    font-size: 20px;

    height: 30px;
    margin: 0 10px;
    border: none;
}

.garage__color {
    background-color: $text;

    height: 30px;

    margin: 0 10px;
    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        cursor: pointer;
    }

}

.garage__title {
    margin-top: 50px;
}

.garage__item {
    text-align: left;
    border-bottom: 2px dashed $text;
    margin: 50px;
    font-size: 24px;
    text-shadow: $text 0px 0px 1px,   $text 0px 0px 1px,   $text 0px 0px 1px,
             $text 0px 0px 1px,   $text 0px 0px 1px,   $text 0px 0px 1px;

}

.car {
    width: 100px;
    margin-top: 10px;
    margin-bottom: -8px;
}

.btn-car {
    background-color: $alt;
    border: none;
    color: $text;
    font-size: 16px;
    padding: 5px 10px;

    margin-bottom: 5px;

    transition: all .2s ease-in-out;

    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}



.btn_prev, .btn_next {
    font-size: 30px;
    width: unset;
    color: $text;
}

.btn-car_select:hover {
    background-color: $active;
    color: $alt;
}

.btn-car_remove {
    margin-left: 10px;

    &:hover {
        background-color: $wrong;
        color: $alt;
    }
}

.btn-car_start:hover {
    background-color: $alt-active;
    color: $alt;
}

.btn-car_stop {
    margin-left: 10px;

    &:hover {
        background-color: $wrong;
        color: $alt;
    }
}

.input_inactive {
    opacity: 0.3;
    pointer-events: none;
}

