form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_garage-menu {
    height: 30px;
    min-width: 70px;
    background-color: $alt;
    font-weight: 700;

    color: $text;
    font-size: 16px;
    padding: 5px;

    margin: 0 10px;

    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        color: $main;
        cursor: pointer;
    }
}

.garage__input {
    background-color: $alt;
    color: $text;

    font-size: 20px;

    height: 30px;
    margin: 0 10px;
    border: none;
}

.garage__color {
    background-color: $text;

    height: 30px;

    margin: 0 10px;
    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        cursor: pointer;
    }

}

.garage__title {
    margin-top: 50px;
}