form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_garage-menu {
    height: 30px;
    min-width: 70px;
    background-color: $alt;
    font-weight: 700;

    color: $text;
    font-size: 16px;
    padding: 5px;

    margin: 0 10px;

    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        color: $main;
        cursor: pointer;
    }
}

.garage__input {
    background-color: $alt;
    color: $text;

    font-size: 20px;

    height: 30px;
    margin: 0 10px;
    border: none;
}

.garage__color {
    background-color: $text;

    height: 30px;

    margin: 0 10px;
    border: none;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: $active;
        cursor: pointer;
    }

}

.garage__title {
    margin-top: 50px;
}

.garage__item {
    text-align: left;
    border-bottom: 2px dashed $text;
    margin: 50px;
    font-size: 24px;
}

.car {
    width: 100px;
    margin-top: 10px;
}

.btn-car {
    background-color: $alt;
    border: none;
    color: $text;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 10px;

    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.btn-car_select:hover {
    background-color: $active;
    color: $alt;
}

.btn-car_remove:hover {
    background-color: $wrong;
    color: $alt;
}
